* {
    margin: 0;
}



/* Youssef CSS */

body {
    background-color: rgb(255, 255, 255);
}

table {
    width: 100%;
    text-align: center;
    font-family: Arial;
}


table th  {
    letter-spacing: 0.1em;
    height: 30px;
    border-radius: 0px;
    border-bottom: 3px solid purple;
    color: rgb(167, 168, 174);
}

table th:hover{
    border-bottom: #ebe2ea;
}

table td {
    height: 15px;
    text-align: center;
    font-family: Arial;
    font-size: small;
    letter-spacing: 0.25em;

}

table tr :hover {
    color: rgb(120, 46, 109);
}

#supplier {
    color: rgb(0, 0, 0);
}

.add {
    background-color: rgb(255, 255, 255);
    padding: 5px 12px;
    border: none;
    letter-spacing: 0.1em;
    border-bottom: 1px solid rgb(9, 9, 9);
}



.products {
    text-decoration: none;
}



.create-login{
    padding-bottom:25px;
    text-align: center;
    margin-left: auto;
    margin-right:auto;
}

  
.form-title{
    text-align: center;
    font-family: Arial;
    margin-bottom:30px;
    margin-top:15px;
}

.label-name{
    text-align:left;
}

.filterBtn  {
    background-color: purple;
    color: white;
    border: 2px solid purple;
    transition-duration: 0.4s;
    border-radius: 15px;
    padding: 10px 15px;
    font-size: 13px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}



.filterBtn:hover {
    background-color: white;
    color: purple;
    border: 2px solid purple;
}


.checkout {
    color: purple;
    border: 2px solid purple;
    transition-duration: 0.4s;
    border-radius: 15px;
    padding: 10px 15px;
    font-size: 13px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}





.drpdwnSrch {
    background-color: white;

    color: purple;
    padding: 8px 8px;
    font-size: 13px;
    border: 2px solid purple;
    border-radius: 15px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 0.1em;


}

.srchBar {
    padding: 10px 10px;
    border-radius: 15px;
    border-color: purple;
}

.srchBtn {
    width: auto;
    padding: 10px 15px;
    background: purple;
    color: white;
    font-size: 15px;
    border: 2px solid purple;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
    border-radius: 15px;
    transition-duration: 0.4s;
}

.srchBtn:hover {
    background-color: white;
    color: purple;
    border: 2px solid purple;
}
.showResults {
    color: grey;
    font-size: 14px;
}
.sortBy {
    color: grey;
    font-size: 14px;
}
.itemTable {
    padding-top: 20px;
    border-spacing: 10px;
}
.out {
    margin-top: 50px;
}
.outBtn {
    border-radius: 15px;
    background-color: purple;
    color: white;
    transition-duration: 0.4s;
    border: 2px solid purple;
}
.outBtn:hover {
    cursor: pointer;
    background-color: white;
    color: purple;
}

/* Youssef CSS */


/* SideBar CSS */

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10%;
    border-top: 10px solid #000000;
    border-right: 10px solid #000000;
    background-color: #000000;
}

.sidebar div li {
    list-style: none;

}

.sidebar div {
    padding-top: 10px;
    width: 100%;
    height: 30px;
}

.sidebar div ul li a {
    text-decoration: none;
    letter-spacing: 0.3em;
    color: rgb(211, 195, 195);
    display: flex;
    justify-content: flex-end;
    font-family: Arial;
    font-size: 13px;
    text-transform: uppercase;
    border-left: 10px solid transparent;
}

.sidebar div ul a:hover{
    color:rgb(129, 122, 122);
}

.sidebar div ul li a:hover {
    border-left-color: purple;
} 

main {
    width: 100%;
    margin: 0 auto;
    height: 1000px;
    display: flex;
}

main .sidebar {
    background-color: #000;
    flex: 1 1 60px;
}
main .maincontent {
    padding-top: 50px;
    text-transform: uppercase;
    padding-left: 40px;
    padding-right: 40px;
    gap: 2%;
    display: flex;
    flex-direction: column;
    flex: 3 1 500px;
}

/* SideBar CSS */

